{% extends 'base_full.html' %}

{% block content %}
<div class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3 text-center">
        <h1 class="display-5 fw-bold">Welcome to Charleen Africa Invoicing</h1>
        <p class="fs-4">Simplify and manage your invoices, payments, and taxes with ease.</p>
        
        <div class="mt-4">
            <a href="{% url 'accounts:register' %}" class="btn btn-success btn-lg">
                Register 
            </a>

            <a href="{% url 'accounts:login' %}" class="btn btn-outline-primary btn-lg">
                  Login
            </a>
            </a>
        </div>
    </div>
</div>
{% endblock %}